.small-products img {
    height: 92px;
    width: 92px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    opacity: 0.6;
}

.small-products img:hover {
    opacity: 1;
}

.small-products {
    float: left;
}

.goods {
    position: relative;
    width: 90vw;
    margin-top: 140px;
    margin-bottom: 40px;
    left: 2.5vw;
    padding-left: 2.5vw;
    background-color: white;
}

.gallery {
    display: flex;
}

.product-card {
    display: flex;
}

.img-container img {
    height: 500px;
    width: 500px;
}

.img-container {
    float: right;
    padding: 10px;
}

.product-name {
    display: flex;
    font-family: none;
    margin-top: 20px;
}

.product-name img {
    margin-left: 2em;
    height: 32px;
    opacity: 0.8;
}

.product-cost {
    display: flex;
}

.product-cost h1 {
    padding-top: 20px;
    padding-left: 30px;
}

.product-cost p {
    padding-left: 20px;
    padding-top: 20px;
    font-size: larger;
    color: gray;
}

.product-name img:hover {
    opacity: 1;
}

.description {
    width: calc(87.5vw - 650px);
    height: 500px;
    padding-left: 2.5vw;
}

.product-description {
    margin-top: 30px;
    width: 100%;
}

.product-description p {
    margin-top: 10px;
}

.main-descriptions {
    margin: 10px;
    font-size: 90%;
    width: calc(75vw - 650px);
    display: flex;
}

.first-d {
    color: #A6A6A6;
    margin-right: 1em;
    float: left;
    ;
}

.bordered {
    border-bottom: 1px dashed #A6A6A6;
    flex: 1;
}

.second-d {
    color: black;
    margin-left: 1em;
    float: right;
}


/* ---------------------------CHARACTERISTICS------------ */

.panel {
    background-color: white;
    width: 90vw;
    margin-left: 2.5vw;
    padding-left: 2.5vw;
    margin-bottom: 20vh;
    padding-bottom: 30px;
}

button.accordion {
    font-size: 32px;
    text-align: left;
    padding: 20px;
    width: 87.5vw;
    cursor: pointer;
    border: none;
    background-color: white;
    outline: none;
    opacity: 0.6;
    transition: 0.5s;
}

button.accordion:hover {
    opacity: 1;
}

button.accordion.active {
    border-radius: 5px 5px 0 0;
}

div.characteristics {
    float: left;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}

div.characteristics.show {
    float: left;
    max-width: 60vw;
    opacity: 1;
    max-height: 500px;
}

.accordion.product-description {
    width: 50%;
}

.panel.main-descriptions {
    width: 100%;
}